<section class="person-create">
  <h1>Person hinzufügen</h1>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline">
      <mat-label>Vorname</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="form.controls.firstName.invalid">
        Vorname ist erforderlich
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nachname</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="form.controls.lastName.invalid">
        Nachname ist erforderlich
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>PLZ</mat-label>
      <input matInput formControlName="zipCode" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ort</mat-label>
      <input matInput formControlName="city" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Lieblingsfarbe</mat-label>
      <mat-select formControlName="favoriteColor">
        <mat-option *ngFor="let color of colors" [value]="color">
          {{ color }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" (click)="cancel()">Abbrechen</button>
      <button mat-stroked-button color="primary" type="submit"  [disabled]="form.invalid">
        Speichern
      </button>
    </div>


  </form>
</section>
