<section class="persons-list">
  <h1>Personen</h1>

  @if (loading()) {
    <mat-progress-bar mode="indeterminate" />
  }

  @if (error()) {
    <mat-error>{{ error() }}</mat-error>
  }


  <div class="filter-row">
    <mat-form-field appearance="outline">
      <mat-label>Filtern</mat-label>
      <input matInput (keyup)="applyFilter(filterInput.value)" #filterInput />
    </mat-form-field>
  </div>

  <button
    mat-raised-button
    color="primary"
    routerLink="/persons/new">
    Person anlegen
  </button>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Last Name -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nachname</th>
      <td mat-cell *matCellDef="let p">{{ p.lastName }}</td>
    </ng-container>

    <!-- First Name -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vorname</th>
      <td mat-cell *matCellDef="let p">{{ p.firstName }}</td>
    </ng-container>

    <!-- ZIP -->
    <ng-container matColumnDef="zipCode">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLZ</th>
      <td mat-cell *matCellDef="let p">{{ p.zipCode }}</td>
    </ng-container>

    <!-- City -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ort</th>
      <td mat-cell *matCellDef="let p">{{ p.city }}</td>
    </ng-container>

    <!-- Color -->
    <ng-container matColumnDef="favoriteColor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Farbe</th>
      <td mat-cell *matCellDef="let p">{{ p.favoriteColor }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="openDetails(row)"
      style="cursor: pointer"
    ></tr>


    <!-- Empty state -->
    <tr *matNoDataRow>
      <td colspan="5">Keine Personen gefunden.</td>
    </tr>

  </table>
</section>
